
@{
    ViewBag.Title = "Index";
}

<h2>Our Hours</h2>

<h3>Regular Hours</h3>
<div class="grid text-center">
    <div class="g-col-4">Monday through Friday: 8 AM - 10 PM</div>
    <div class="g-col-4">Saturday: 8 AM - 6 PM </div>
    <div class="g-col-4">Sunday: Closed to the public</div>
</div>

<h3>Holiday Hours</h3>
<p>All other holidays are normal hours</p>
<div class="grid text-center">
    <div class="g-col-4">Thanksgiving: Closed to the public</div>
    <div class="g-col-4">Christmas: Closed to the public </div>
    <div class="g-col-4">New Years Eve: 8 AM - 5 PM</div>
    <div class="g-col-4">New Years Day: 10 AM - 6 PM</div>
</div>